[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
isort = "*"

[packages]
appnope = "*"
bleach = "*"
decorator = "*"
docutils = "*"
entrypoints = "*"
html5lib = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
jedi = "*"
jsonschema = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
lockfile = "*"
luigi = "*"
matplotlib = "*"
mistune = "*"
nbconvert = "*"
nbformat = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pandocfilters = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pyparsing = "*"
python-daemon = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
qtconsole = "*"
scikit-learn = "*"
scipy = "*"
simplegeneric = "*"
six = "*"
sklearn = "*"
terminado = "*"
testpath = "*"
tornado = "*"
traitlets = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"
Cycler = "*"
ipython_genutils = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pygments = "*"
xgboost = "*"

[requires]
python_version = "3.8"
